<h1>About Blog Thing</h1>
<p>Blog thing is a blog page created by an aspiring web developer. He is not
a professional yet, so let's just all give him and break and rejoice in the
fact that at Blog Thing, you can post whatever you want, no resrictions, no
censors. It's like all your filters have been removed and you are free to be
great, despicable, or downright evil. Humans judge others, and this is a spot
for you to be judgemental and to be judged.</p>
